

h1 {
  font-size: 40px;
  font-family: Arial
}
h2 {
  font-size: 25px;
  font-family: Arial
}
h3 {
  font-family: Arial
}
p {
  font-size: 14px;
  font-family: Arial
}
<a href="https://www.deakin.edu.au/students/enrolment-and-fees/fees"> > Current students</a>
